html {
    background-color: antiquewhite;
}

body {
    font-family: 'Raleway', 'sans-serif';
    font-size: 16px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.header-container {
    margin-bottom: 48px;
}

.header-container h1{
    font-size: 32px;
    margin: 8px 0;
}

.header-container h1 span {
    font-size: 16px;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container-side {
    height: 85vh;
    width: 50%;
}

.container-side-b {
    border: 1px solid #ccc;
    border-radius: 1%; 
    background: white;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.button-container {
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    margin: 0 auto;
    margin-top: 16px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container button{
    margin: 0 24px;
}


/*
    Dynamic CSS Classes
*/

.hide-container {
    display: none;
}






