.stream-container {
    width: 80%;
    background: #07031a;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #07031a;
    border-radius: 2.5%;
    position: relative;
}

.stream-container h1 {
    color: white;
    font-size: 24px;
}

.stream-container h1:first-child {
    margin-top: 20%;
}

.stream-container__video {
    width: 320px;
    height: 240px;
    margin: 32px auto;
}

.stream-container__video img{
    width: 320px;
    height: 240px;
    margin: 32px auto;
    display: none;
}

.stream-container__buttons {
    margin: 0 auto;
}

.stream-container__buttons button {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


